<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>document</title>
  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'><link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
        <!-- partial:index.partial.html -->
        <div class="sidebar">
          <div class="logo-details">
            <div class="logo_name">Tk Management</div>
            <i class='bx bx-menu' id="btn"></i>
          </div>
          <ul class="nav-list">
            <li>
                <a href="/user_dashboard">
                    <i class='bx bx-bar-chart-alt-2' ></i>
                  <span class="links_name">dashborad</span>
                </a>
                <span class="tooltip">dashborad</span>
            </li>
            <li>
              <a href="/customer">
                  <i class='bx bx-child'></i>
                <span class="links_name">จัดการข้อมูลลูกค้า</span>
              </a>
              <span class="tooltip">จัดการข้อมูลลูกค้า</span>
          </li>
          <li>
            <a href="/vendoruser">
                <i class='bx bx-child'></i>
              <span class="links_name">จัดการข้อมูลผู้ขายผู้ผลิต</span>
            </a>
            <span class="tooltip">จัดการข้อมูลผู้ขายผู้ผลิต</span>
        </li>
          <li>
              <a href="/Storeuser">
                <i class='bx bxs-store' ></i>
                <span class="links_name">จัดการข้อมูลสินค้า</span>
              </a>
              <span class="tooltip">จัดการข้อมูลสินค้า</span>
          </li>
          <li>
              <a href="/materialuser">
                <i class='bx bxs-store' ></i>
                <span class="links_name">จัดการข้อมูลวัสดุอุปกรณ์</span>
              </a>
              <span class="tooltip">จัดการข้อมูลวัสดุอุปกรณ์</span>
          </li>
          <li>
              <a href="/PurchaseODuser">
                  <i class='bx bx-book-open'></i>
                <span class="links_name">จัดการข้อมูลใบเสนอซื้อ</span>
              </a>
              <span class="tooltip">จัดการข้อมูลใบเสนอซื้อ</span>
          </li>
          <li>
              <a href="/purchaesSLuser">
                  <i class='bx bx-book-open'></i>
                <span class="links_name">จัดการข้อมูลใบเสนอขาย</span>
              </a>
              <span class="tooltip">จัดการข้อมูลใบเสนอขาย</span>
          </li>
          <li>
              <a href="/requisitionuser">
                  <i class='bx bx-book-open'></i>
                <span class="links_name">จัดการข้อมูลใบเบิกวัสดุ</span>
              </a>
              <span class="tooltip">จัดการข้อมูลใบเบิกวัสดุ</span>
          </li>
          <li>
            <a href="/paymentuser">
                <i class='bx bx-book-open'></i>
              <span class="links_name">ระบบการชำระเงิน</span>
            </a>
            <span class="tooltip">ระบบการชำระเงิน</span>
        </li>
            <li class="profile">
              <i class='bx bx-log-out' id="log_out"></i>
              <a href="{{ url_for('logout') }}" class="btn">Logout</a>
            </li>
          </ul>
        </div>
          
    <section class="home-section">
        {% block content %}
        {% endblock %}
    </section>
    <script  src="../static/js/script.js"></script>
</body>
</html>